.form {
  display: flex;
}

.MuiOutlinedInput-root {
  position: relative;
  border-radius: 20px;
  color: #227093;
  font-weight: bold;

  .MuiOutlinedInput-notchedOutline {
    border-color: #227093;
  }

  &.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
      border-color: #227093;
    } 
  }
}

.MuiOutlinedInput-root:hover {
  .MuiOutlinedInput-notchedOutline {
    border-color: #227093;
  }
}

.MuiFormLabel-root {
  color: #227093;
  
  &.Mui-focused {
    color: #227093;
  }
}